html {
    font-family: Helvetica;
}

h1 {
    text-align: center;
    color: navy;
}

.sct-practica>div {
    margin: 100px;
    border: gray 1px solid;
    width: 400px;
    padding: 20px;
}

.sct-practica>div div {
    margin-bottom: 15px;
}

.valores-ingreso input {
    width: 170px;
    margin: 0 20px 0 0;
}

.valores-ingreso input[type=button] {
    height: 30px;
}

.valores-ingreso input[type=number] {
    height: 25px;
}

.valores-resultado textarea {
    width: 285px;
    resize: none;
}